/*
./scss/_variables.scss
variables du frameworks
*/
/*couleurs*/
/*$couleur1: #ff2255;*/
/*$couleur1:#499db4;*/
/*dimensions*/
/* MENUS*/
/*menu-horizontal*/
/*pagination*/
/*IMAGES*/
/*BOITES*/
/*GRILLES*/
/*$typeEcran: ("0px" "s") ("500px" "m") ("765px" "l") ("1215px" "xl");*/
* {
  box-sizing: border-box;
}

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Vidaloka', serif;
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #292929;
  font-size: 15px;
  margin: 0;
}

body h1, body h1, body h3, body h4, body h5, body h6 {
  font-family: 'Raleway', sans-serif;
}

body a {
  color: #292929;
  transition: all .3s ease-in;
}

body a:hover {
  color: #73B2CF;
}

body .btn-fond-coul1 {
  transition: all .3s ease-in;
}

body input {
  padding: 0.6rem;
  font-family: 'Source Sans Pro';
}

.titre {
  font-size: 2.04rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1.8rem 0.6rem;
}

.titre::after {
  content: '';
  display: block;
  text-align: center;
  height: 1px;
  width: 25%;
  max-width: 10rem;
  margin: 0.6rem auto;
  background: #73B2CF;
}

.btn {
  font-family: 'Raleway', sans-serif;
  padding: 1.2rem 2.2rem;
}

.btn.call-to-action {
  text-transform: uppercase;
}

.btn.btn-m {
  padding: 0.6rem;
}

.effet-apparition {
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
}

.apparition-top {
  top: -50px;
}

.apparition-left {
  left: -100px;
}

.apparition-right {
  left: 100px;
}

.apparition-bottom {
  top: 100px;
}

#fonduNoir {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

/*.ancre{
  height:81.19px;
}*/
.section {
  padding-top: 1.8rem;
  padding-bottom: 3.6rem;
}

.section-top {
  padding-top: 1.8rem;
}

.pagination {
  font-family: 'Raleway';
  text-transform: uppercase;
}

.pagination > * {
  display: inline-block;
  padding: 0.72rem 1.44rem;
  margin-right: 0.3rem;
  background: #73B2CF;
  border: 1px solid #73B2CF;
  color: #fff;
}

.pagination > *:hover:not(.current) {
  background-color: transparent;
  color: #73B2CF;
}

.pagination > *.current {
  background-color: transparent;
  color: #73B2CF;
}

.cards .btn-fond-coul1 {
  /*    &:not(.call-to-action){
      font-size: 14px;
      padding:$paddingBoite*0.7 $paddingBoite*0.5;
    }*/
}

.cards .btn-fond-coul1.call-to-action {
  width: 100%;
}

.cards figure {
  overflow: hidden;
}

.cards figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.cards .cards-texte {
  padding: 1rem;
}

.cards-type-l {
  position: relative;
  overflow: hidden;
}

.cards-type-l:hover .cards-texte {
  bottom: 1.2rem;
}

.cards-type-l .cards-texte {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: rgba(255, 255, 255, 0.8);
  transition: all .5s ease-out;
}

.cards-type-m {
  position: relative;
  box-shadow: 1px 1px 8px 0px rgba(150, 150, 150, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
}

.cards-type-m .cards-texte {
  /*    border-left:1px solid rgba(0,0,0, 0.2);
    border-right:1px solid rgba(0,0,0, 0.2);
    border-bottom:1px solid rgba(0,0,0, 0.2);*/
}

.cards-type-m .cards-texte > p:last-of-type {
  margin-bottom: 72.6px;
}

.cards-type-m .cards-texte a.call-to-action {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: calc(100% - 30px);
}

.post-categories {
  padding: 0;
  margin-top: 0;
  text-align: center;
  letter-spacing: -0.25em;
}

.post-categories > li {
  letter-spacing: normal;
  display: inline-block;
  margin: 0.1rem;
}

.post-categories > li a {
  display: inline-block;
  background-color: #73B2CF;
  font-size: 0.83rem;
  padding: 0.45rem 0.9rem;
  border: 1px solid #73B2CF;
  color: #fff;
}

.post-categories > li a:hover {
  background-color: transparent;
  color: #73B2CF;
}

#entetePrincipale #barreNav {
  position: fixed;
  z-index: 3;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}

#entetePrincipale #barreNav .menu-horizontal .sousMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  text-align: center;
  color: #ffffff;
}

#entetePrincipale #barreNav .menu-horizontal .sousMenu li a {
  background-color: #73B2CF;
  padding: 0.9rem 1.8rem;
  border-bottom: 1px solid #ffffff;
  color: #fff;
}

#entetePrincipale #barreNav .menu-horizontal .sousMenu li a:hover {
  background: rgba(255, 255, 255, 0.95);
  color: #73B2CF;
}

#entetePrincipale #barreNav .hamburger {
  position: relative;
}

#entetePrincipale #barreNav .hamburger #hamburgerIcon {
  position: absolute;
  top: 50%;
  right: 0.6rem;
  transform: translateY(-50%);
  z-index: 3;
  color: #ffffff;
}

#entetePrincipale #barreNav .hamburger #hamburgerIcon > div {
  position: relative;
  height: 25px;
  width: 35px;
}

#entetePrincipale #barreNav .hamburger #hamburgerIcon > div > div {
  position: absolute;
  width: 35px;
  height: 5px;
  background: #73B2CF;
}

#entetePrincipale #barreNav .hamburger #hamburgerIcon > div > div:first-of-type {
  top: 0;
}

#entetePrincipale #barreNav .hamburger #hamburgerIcon > div > div:nth-of-type(2) {
  top: 10px;
}

#entetePrincipale #barreNav .hamburger #hamburgerIcon > div > div:nth-of-type(3) {
  top: 20px;
}

#entetePrincipale #barreNav .hamburger #navMobile {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  max-height: 100%;
  margin: 0;
  overflow-y: auto;
}

#entetePrincipale #barreNav .hamburger #navMobile a {
  display: block;
  border: none;
  border-bottom: 1px solid #ffffff;
}

#entetePrincipale #barreNav .hamburger #navMobile a:hover {
  background-color: #ffffff;
}

#entetePrincipale #barreNav .hamburger #navMobile > li > a {
  padding: 2rem;
}

#entetePrincipale #barreNav .hamburger #navMobile .sousMenu a {
  font-size: 0.83rem;
  color: #73B2CF;
  background: #ffffff;
  border-bottom: 1px solid #73B2CF;
  padding: 1rem;
}

#entetePrincipale #barreNav .hamburger #navMobile .sousMenu a:hover {
  background: #73B2CF;
  color: #ffffff;
}

#entetePrincipale #barreNav .hamburger #navMobile .sousMenu li:last-of-type a {
  border-bottom: none;
}

#entetePrincipale #barreNav .boite-flottante-gauche {
  margin: 0;
}

#entetePrincipale #logo {
  position: relative;
  z-index: 1;
  width: 150px;
  height: auto;
  padding: 0.6rem 0 1.2rem 0;
}

#slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#slider figure {
  height: 100vh;
}

#slider:hover img {
  filter: brightness(0.4);
}

#slider > a {
  height: 100%;
  display: block;
}

#slider img {
  position: fixed;
  z-index: -1;
  object-position: 50% 50%;
  filter: brightness(0.6);
  transition: filter .75s ease, transform .75s ease;
}

#slider #sliderContenu {
  position: absolute;
  top: calc(50% + 40px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  color: #ffffff;
  padding: 1.2rem;
}

#slider #sliderContenu .titre {
  margin-top: 0;
}

#slider #sliderContenu .btn {
  margin-top: 0.6rem;
  transition: all .3s ease-in;
}

#pictos li {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 2.4rem;
}

#coupDeCoeur {
  background-color: #ffffff;
}

#TousLesJeux {
  color: #ffffff;
  position: relative;
  background: url("../img/terraforming-mars.jpg") no-repeat center center;
  background-size: cover;
}

#TousLesJeux .contenu-centre {
  position: relative;
  z-index: 2;
}

#TousLesJeux::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: all .75s ease;
}

#TousLesJeux:hover::after {
  background: rgba(0, 0, 0, 0.3);
}

#contact iframe {
  display: block;
  min-height: 300px;
}

#contact > div {
  /*background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/bg-contact-2.jpg') no-repeat center center;*/
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  padding: 2.4rem 0;
}

#contact > div > * {
  margin: auto 0;
  position: relative;
  z-index: 2;
  /*@media screen and (max-width:1100px){
        margin:auto;
      }*/
}

#contact > div > div:not(.formulaireDeContact) {
  flex-basis: calc(100% - 500px - 40px);
  border: 35px solid #292929;
  margin-right: 20px;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  #contact > div > div:not(.formulaireDeContact) {
    flex-basis: calc(100%);
    margin: 0;
  }
}

#contact > div .formulaireDeContact {
  flex-basis: 500px;
  position: relative;
  margin: 39.4px 0 0 20px;
}

@media screen and (max-width: 1100px) {
  #contact > div .formulaireDeContact {
    flex-basis: calc(100%);
    margin: 4.8rem 0 0 0;
  }
}

#contact > div .formulaireDeContact h3 {
  padding: 1.8rem;
  background: #73B2CF;
  color: #ffffff;
  width: 85%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

#contact > div .formulaireDeContact #caldera_form_1 {
  background: #ffffff;
  padding: 3.6rem 1.8rem 1.8rem;
  box-shadow: 1px 1px 8px 0px rgba(150, 150, 150, 0.5);
  border-radius: 5px;
}

#contact > div .formulaireDeContact #caldera_form_1 .form_element input, #contact > div .formulaireDeContact #caldera_form_1 .form_element textarea {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#contact > div .formulaireDeContact #caldera_form_1 .form_element textarea {
  padding: .6rem;
  resize: none;
}

#footerPrincipal a:not(:hover) {
  color: #ffffff;
}

#footerPrincipal > div:last-of-type a:not(:hover) {
  color: #b3b3b3;
}

#detailsJeu {
  background-color: #ffffff;
}

#detailsJeu > div > *:not(.titre) {
  margin-bottom: 1.2rem;
}

#detailsJeu > div > figure img {
  box-shadow: 1px 1px 8px 0px rgba(150, 150, 150, 0.5);
}

#detailsJeu > div .texteJeu {
  padding: 1.2rem 0;
}

.nextPreviousNav li:hover img {
  filter: none;
}

.nextPreviousNav li img {
  filter: brightness(0.7);
  transition: all 1s ease;
}

.nextPreviousNav li div.btn-fond-coul1 {
  display: flex;
  width: 100%;
  /*height:100%; A REMETTRE SI CA MARCHE PLUS*/
  padding: 0.45rem 0.9rem;
}

.nextPreviousNav li div div {
  margin: auto 10px;
}

.nextPreviousNav li div div.faIcon {
  flex-basis: 32px;
}

.nextPreviousNav li div div:not(.faIcon) {
  flex-basis: calc(100% - 32px);
}
