@charset "UTF-8";
/*
./css/frameworks.css
*/
/* variables */
/*
./scss/_variables.scss
variables du frameworks
*/
/*couleurs*/
/*$couleur1: #ff2255;*/
/*$couleur1:#499db4;*/
/*dimensions*/
/* MENUS*/
/*menu-horizontal*/
/*pagination*/
/*IMAGES*/
/*BOITES*/
/*GRILLES*/
/*$typeEcran: ("0px" "s") ("500px" "m") ("765px" "l") ("1215px" "xl");*/
/*modules*/
/*
./scss/modules/_reset.scss
version 1.0
*/
figure {
  margin: 0;
}

a {
  text-decoration: none;
}

/*
./scss/modules/_boites.scss
version 1.0
*/
/*modules de grilles*/
* {
  box-sizing: border-box;
}

.grille-g {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.grille-g > * {
  margin: 10px;
  flex-basis: calc(100% - (2*10px));
}

@media only screen and (min-width: 0px) {
  .xs1 {
    flex-basis: calc(100%*(1/12) - (2*10px));
  }
  .xs2 {
    flex-basis: calc(100%*(2/12) - (2*10px));
  }
  .xs3 {
    flex-basis: calc(100%*(3/12) - (2*10px));
  }
  .xs4 {
    flex-basis: calc(100%*(4/12) - (2*10px));
  }
  .xs5 {
    flex-basis: calc(100%*(5/12) - (2*10px));
  }
  .xs6 {
    flex-basis: calc(100%*(6/12) - (2*10px));
  }
  .xs7 {
    flex-basis: calc(100%*(7/12) - (2*10px));
  }
  .xs8 {
    flex-basis: calc(100%*(8/12) - (2*10px));
  }
  .xs9 {
    flex-basis: calc(100%*(9/12) - (2*10px));
  }
  .xs10 {
    flex-basis: calc(100%*(10/12) - (2*10px));
  }
  .xs11 {
    flex-basis: calc(100%*(11/12) - (2*10px));
  }
  .xs12 {
    flex-basis: calc(100%*(12/12) - (2*10px));
  }
}

@media only screen and (min-width: 480px) {
  .s1 {
    flex-basis: calc(100%*(1/12) - (2*10px));
  }
  .s2 {
    flex-basis: calc(100%*(2/12) - (2*10px));
  }
  .s3 {
    flex-basis: calc(100%*(3/12) - (2*10px));
  }
  .s4 {
    flex-basis: calc(100%*(4/12) - (2*10px));
  }
  .s5 {
    flex-basis: calc(100%*(5/12) - (2*10px));
  }
  .s6 {
    flex-basis: calc(100%*(6/12) - (2*10px));
  }
  .s7 {
    flex-basis: calc(100%*(7/12) - (2*10px));
  }
  .s8 {
    flex-basis: calc(100%*(8/12) - (2*10px));
  }
  .s9 {
    flex-basis: calc(100%*(9/12) - (2*10px));
  }
  .s10 {
    flex-basis: calc(100%*(10/12) - (2*10px));
  }
  .s11 {
    flex-basis: calc(100%*(11/12) - (2*10px));
  }
  .s12 {
    flex-basis: calc(100%*(12/12) - (2*10px));
  }
}

@media only screen and (min-width: 768px) {
  .m1 {
    flex-basis: calc(100%*(1/12) - (2*10px));
  }
  .m2 {
    flex-basis: calc(100%*(2/12) - (2*10px));
  }
  .m3 {
    flex-basis: calc(100%*(3/12) - (2*10px));
  }
  .m4 {
    flex-basis: calc(100%*(4/12) - (2*10px));
  }
  .m5 {
    flex-basis: calc(100%*(5/12) - (2*10px));
  }
  .m6 {
    flex-basis: calc(100%*(6/12) - (2*10px));
  }
  .m7 {
    flex-basis: calc(100%*(7/12) - (2*10px));
  }
  .m8 {
    flex-basis: calc(100%*(8/12) - (2*10px));
  }
  .m9 {
    flex-basis: calc(100%*(9/12) - (2*10px));
  }
  .m10 {
    flex-basis: calc(100%*(10/12) - (2*10px));
  }
  .m11 {
    flex-basis: calc(100%*(11/12) - (2*10px));
  }
  .m12 {
    flex-basis: calc(100%*(12/12) - (2*10px));
  }
}

@media only screen and (min-width: 1025px) {
  .l1 {
    flex-basis: calc(100%*(1/12) - (2*10px));
  }
  .l2 {
    flex-basis: calc(100%*(2/12) - (2*10px));
  }
  .l3 {
    flex-basis: calc(100%*(3/12) - (2*10px));
  }
  .l4 {
    flex-basis: calc(100%*(4/12) - (2*10px));
  }
  .l5 {
    flex-basis: calc(100%*(5/12) - (2*10px));
  }
  .l6 {
    flex-basis: calc(100%*(6/12) - (2*10px));
  }
  .l7 {
    flex-basis: calc(100%*(7/12) - (2*10px));
  }
  .l8 {
    flex-basis: calc(100%*(8/12) - (2*10px));
  }
  .l9 {
    flex-basis: calc(100%*(9/12) - (2*10px));
  }
  .l10 {
    flex-basis: calc(100%*(10/12) - (2*10px));
  }
  .l11 {
    flex-basis: calc(100%*(11/12) - (2*10px));
  }
  .l12 {
    flex-basis: calc(100%*(12/12) - (2*10px));
  }
}

@media only screen and (min-width: 1215px) {
  .xl1 {
    flex-basis: calc(100%*(1/12) - (2*10px));
  }
  .xl2 {
    flex-basis: calc(100%*(2/12) - (2*10px));
  }
  .xl3 {
    flex-basis: calc(100%*(3/12) - (2*10px));
  }
  .xl4 {
    flex-basis: calc(100%*(4/12) - (2*10px));
  }
  .xl5 {
    flex-basis: calc(100%*(5/12) - (2*10px));
  }
  .xl6 {
    flex-basis: calc(100%*(6/12) - (2*10px));
  }
  .xl7 {
    flex-basis: calc(100%*(7/12) - (2*10px));
  }
  .xl8 {
    flex-basis: calc(100%*(8/12) - (2*10px));
  }
  .xl9 {
    flex-basis: calc(100%*(9/12) - (2*10px));
  }
  .xl10 {
    flex-basis: calc(100%*(10/12) - (2*10px));
  }
  .xl11 {
    flex-basis: calc(100%*(11/12) - (2*10px));
  }
  .xl12 {
    flex-basis: calc(100%*(12/12) - (2*10px));
  }
}

.grille-no-g {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.grille-no-g > * {
  flex-basis: 100%;
}

@media only screen and (min-width: 0px) {
  .grille-no-g .xs1 {
    flex-basis: calc(100%*(1/12));
  }
  .grille-no-g .xs2 {
    flex-basis: calc(100%*(2/12));
  }
  .grille-no-g .xs3 {
    flex-basis: calc(100%*(3/12));
  }
  .grille-no-g .xs4 {
    flex-basis: calc(100%*(4/12));
  }
  .grille-no-g .xs5 {
    flex-basis: calc(100%*(5/12));
  }
  .grille-no-g .xs6 {
    flex-basis: calc(100%*(6/12));
  }
  .grille-no-g .xs7 {
    flex-basis: calc(100%*(7/12));
  }
  .grille-no-g .xs8 {
    flex-basis: calc(100%*(8/12));
  }
  .grille-no-g .xs9 {
    flex-basis: calc(100%*(9/12));
  }
  .grille-no-g .xs10 {
    flex-basis: calc(100%*(10/12));
  }
  .grille-no-g .xs11 {
    flex-basis: calc(100%*(11/12));
  }
  .grille-no-g .xs12 {
    flex-basis: calc(100%*(12/12));
  }
}

@media only screen and (min-width: 480px) {
  .grille-no-g .s1 {
    flex-basis: calc(100%*(1/12));
  }
  .grille-no-g .s2 {
    flex-basis: calc(100%*(2/12));
  }
  .grille-no-g .s3 {
    flex-basis: calc(100%*(3/12));
  }
  .grille-no-g .s4 {
    flex-basis: calc(100%*(4/12));
  }
  .grille-no-g .s5 {
    flex-basis: calc(100%*(5/12));
  }
  .grille-no-g .s6 {
    flex-basis: calc(100%*(6/12));
  }
  .grille-no-g .s7 {
    flex-basis: calc(100%*(7/12));
  }
  .grille-no-g .s8 {
    flex-basis: calc(100%*(8/12));
  }
  .grille-no-g .s9 {
    flex-basis: calc(100%*(9/12));
  }
  .grille-no-g .s10 {
    flex-basis: calc(100%*(10/12));
  }
  .grille-no-g .s11 {
    flex-basis: calc(100%*(11/12));
  }
  .grille-no-g .s12 {
    flex-basis: calc(100%*(12/12));
  }
}

@media only screen and (min-width: 768px) {
  .grille-no-g .m1 {
    flex-basis: calc(100%*(1/12));
  }
  .grille-no-g .m2 {
    flex-basis: calc(100%*(2/12));
  }
  .grille-no-g .m3 {
    flex-basis: calc(100%*(3/12));
  }
  .grille-no-g .m4 {
    flex-basis: calc(100%*(4/12));
  }
  .grille-no-g .m5 {
    flex-basis: calc(100%*(5/12));
  }
  .grille-no-g .m6 {
    flex-basis: calc(100%*(6/12));
  }
  .grille-no-g .m7 {
    flex-basis: calc(100%*(7/12));
  }
  .grille-no-g .m8 {
    flex-basis: calc(100%*(8/12));
  }
  .grille-no-g .m9 {
    flex-basis: calc(100%*(9/12));
  }
  .grille-no-g .m10 {
    flex-basis: calc(100%*(10/12));
  }
  .grille-no-g .m11 {
    flex-basis: calc(100%*(11/12));
  }
  .grille-no-g .m12 {
    flex-basis: calc(100%*(12/12));
  }
}

@media only screen and (min-width: 1025px) {
  .grille-no-g .l1 {
    flex-basis: calc(100%*(1/12));
  }
  .grille-no-g .l2 {
    flex-basis: calc(100%*(2/12));
  }
  .grille-no-g .l3 {
    flex-basis: calc(100%*(3/12));
  }
  .grille-no-g .l4 {
    flex-basis: calc(100%*(4/12));
  }
  .grille-no-g .l5 {
    flex-basis: calc(100%*(5/12));
  }
  .grille-no-g .l6 {
    flex-basis: calc(100%*(6/12));
  }
  .grille-no-g .l7 {
    flex-basis: calc(100%*(7/12));
  }
  .grille-no-g .l8 {
    flex-basis: calc(100%*(8/12));
  }
  .grille-no-g .l9 {
    flex-basis: calc(100%*(9/12));
  }
  .grille-no-g .l10 {
    flex-basis: calc(100%*(10/12));
  }
  .grille-no-g .l11 {
    flex-basis: calc(100%*(11/12));
  }
  .grille-no-g .l12 {
    flex-basis: calc(100%*(12/12));
  }
}

@media only screen and (min-width: 1215px) {
  .grille-no-g .xl1 {
    flex-basis: calc(100%*(1/12));
  }
  .grille-no-g .xl2 {
    flex-basis: calc(100%*(2/12));
  }
  .grille-no-g .xl3 {
    flex-basis: calc(100%*(3/12));
  }
  .grille-no-g .xl4 {
    flex-basis: calc(100%*(4/12));
  }
  .grille-no-g .xl5 {
    flex-basis: calc(100%*(5/12));
  }
  .grille-no-g .xl6 {
    flex-basis: calc(100%*(6/12));
  }
  .grille-no-g .xl7 {
    flex-basis: calc(100%*(7/12));
  }
  .grille-no-g .xl8 {
    flex-basis: calc(100%*(8/12));
  }
  .grille-no-g .xl9 {
    flex-basis: calc(100%*(9/12));
  }
  .grille-no-g .xl10 {
    flex-basis: calc(100%*(10/12));
  }
  .grille-no-g .xl11 {
    flex-basis: calc(100%*(11/12));
  }
  .grille-no-g .xl12 {
    flex-basis: calc(100%*(12/12));
  }
}

/*
./scss/modules/_boites.scss
version 1.0
*/
/*boite fond couleur */
.boite-fond-coul1 {
  background-color: #73B2CF;
  padding: 0.6rem;
  color: #fff;
}

.boite-fond-coul2 {
  background-color: #292929;
  padding: 0.6rem;
  color: #fff;
}

.boite-fond-coul2-claire {
  background-color: whitesmoke;
  padding: 0.6rem;
  color: #292929;
}

.boite-fond-coul2-foncee {
  background-color: #101010;
  padding: 0.6rem;
  color: #fff;
}

.boite-fond-coulNeutre {
  background-color: #ffffff;
  padding: 0.6rem;
  color: #292929;
}

/* boite avec bord couleur1*/
.boite-bords-coul1 {
  padding: 0.6rem;
  border: #73B2CF 1px solid;
}

.boite-bords-coulNeutreFoncee {
  padding: 0.6rem;
  border: #b3b3b3 1px solid;
}

/*boite avec des bords*/
.boite-bords-ronds {
  border-radius: 0.2rem;
}

.boite-bords-droite-coul1 {
  padding-right: 0.6rem;
  border-right: 1px solid #73B2CF;
}

/*boite-soulignée*/
.boite-soulignee {
  padding: 0 0 0.6rem;
  border-bottom: #b3b3b3 1px solid;
}

/*boite responsive dimension fixe 960px et centrée*/
.boite-fixe {
  width: calc(100% - 1rem);
  max-width: 1280px;
  margin: auto;
}

/*boite sans marge*/
.boite-marge-nulle {
  margin: 0;
}

.boite-marge-nulle-top {
  margin-top: 0;
}

/*boites flottantes*/
.boite-flottante-gauche {
  float: left;
  margin: 0 0.6rem 0.6rem 0;
}

.boite-flottante-droite {
  float: right;
  margin: 0 0 0.6rem 0.6rem;
}

.boite-clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/*Tailles de boites*/
.taille-conteneur {
  width: 100%;
}

/*types de boites*/
.boite-inline-block {
  display: inline-block;
}

/*BOUTONS*/
.btn-fond-coul1 {
  display: inline-block;
  background-color: #73B2CF;
  padding: 0.9rem 1.8rem;
  border: 1px solid #73B2CF;
  color: #fff;
}

.btn-fond-coul1:hover {
  background-color: transparent;
  color: #73B2CF;
}

/*HAUTEURS */
.height-m {
  height: 300px;
}

.height-s {
  height: 200px;
}

.height-l {
  height: 400px;
}

.height-xl {
  height: 800px;
}

/*
./scss/modules/_formulaires.scss
version 1.0
*/
/*formulaire dans les couleurs du thème*/
.formulaire input {
  padding: 0.6rem 0.69rem;
  border: 0;
  border-radius: 0.2rem;
}

.formulaire input::placeholder {
  color: #292929;
}

.formulaire input[type='submit'] {
  background: #292929;
  color: #fff;
}

.formulaire input[type='submit']:hover {
  background: #ffffff;
  color: #292929;
}

.formulaire input:not([type='submit']) {
  background: #ffffff;
}

/*
./scss/modules/_contenus.scss
version 1.0
*/
/*Blocks inline*/
.contenu-inline > * {
  display: inline-block;
}

/*alignement contenu*/
.contenu-centre {
  text-align: center;
}

.contenu-gauche {
  text-align: left;
}

.contenu-droite {
  text-align: right;
}

.contenu-justifie {
  text-align: justify;
}

/*taille contenu*/
.contenu-normal {
  font-size: 1rem;
}

.contenu-petit {
  font-size: 0.83rem;
}

.contenu-grand {
  font-size: 1.2rem;
}

.contenu-XGrand {
  font-size: 2.5rem;
}

.contenu-XXGrand {
  font-size: 4rem;
}

/*formatage contenus*/
.contenu-majuscule {
  text-transform: uppercase;
}

/*graisse des contenus*/
.contenu-graisse-gras {
  font-weight: bold;
}

.contenu-graisse-normal {
  font-weight: normal;
}

/*présence visuel des éléments*/
.contenu-cache {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.visibilityhidden {
  visibility: hidden;
}

/*
./scss/modules/_images.scss
modules des images
*/
.image-responsive img {
  width: 100%;
  height: auto;
}

.image-responsive-max img {
  max-width: 100%;
  height: auto;
}

.image-cover {
  overflow: hidden;
}

.image-cover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/*
./scss/modules/_listes.scss
version 1.0
*/
/* Liste à puce sans puce*/
.liste-no-puce {
  list-style: none;
  padding-left: 0;
}

/*
./scss/modules/_menus.scss
version 1.0
modules des menus
*/
/*menu horizontal*/
.menu-horizontal > ul {
  letter-spacing: -.25em;
}

.menu-horizontal > ul > li {
  display: inline-block;
  letter-spacing: normal;
}

.menu-horizontal ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-horizontal a {
  background: transparent;
  padding: 2.2rem 1.1rem;
  color: #292929;
  text-decoration: none;
  display: block;
}

.menu-horizontal a:hover, .menu-horizontal li.actif a, .menu-horizontal a.actif {
  background-color: transparent;
  color: #73B2CF;
}

/*pagination*/
.menu-pagination {
  justify-content: center;
  list-style: none;
  padding: 0;
  display: flex;
}

.menu-pagination a {
  display: block;
  border-top: #ffffff 1px solid;
  border-bottom: #ffffff 1px solid;
  border-right: #ffffff 1px solid;
  width: 2rem;
  line-height: 2rem;
  text-align: center;
  background: #fff;
  color: #ffffff;
}

.menu-pagination li:first-child a {
  border-left: #ffffff 1px solid;
}

.menu-pagination li.actif a,
.menu-pagination li:first-child.actif a,
.menu-pagination li:first-child a:hover,
.menu-pagination a:hover {
  color: #fff;
  background: #73B2CF;
  border-color: #73B2CF;
}

/*
./scss/modules/_visibilites.scss
modules des visibilités
*/
@media only screen and (min-width: 0px) {
  .xs-cache {
    display: none;
  }
}

@media only screen and (min-width: 480px) {
  .s-cache {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .m-cache {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  .l-cache {
    display: none;
  }
}

@media only screen and (min-width: 1215px) {
  .xl-cache {
    display: none;
  }
}

.xs-visible {
  display: none;
}

@media only screen and (min-width: 0px) {
  .xs-visible {
    display: block;
  }
}

.s-visible {
  display: none;
}

@media only screen and (min-width: 480px) {
  .s-visible {
    display: block;
  }
}

.m-visible {
  display: none;
}

@media only screen and (min-width: 768px) {
  .m-visible {
    display: block;
  }
}

.l-visible {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .l-visible {
    display: block;
  }
}

.xl-visible {
  display: none;
}

@media only screen and (min-width: 1215px) {
  .xl-visible {
    display: block;
  }
}

/*
./scss/modules/_applications.scss
version 1.0
*/
/*Un slider automatique*/
.slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider ul li img {
  width: 100%;
  display: block;
}

/*Slider avec superposition d'image*/
.slidersuperposition ul {
  position: relative;
}

.slidersuperposition ul li:first-of-type {
  position: relative;
}

.slidersuperposition ul li:not(:first-of-type) {
  position: absolute;
  top: 0;
  left: 0;
}

.slidersuperposition ul li {
  width: 100%;
  /*      &:first-of-type{
        z-index:1;
      }
      &:nth-of-type(2){
        z-index:2;
      }
      &:nth-of-type(3){
        z-index:3;
      }*/
}

/*
./scss/modules/_animations.scss
version 1.0
*/
/*décollage d'un élément, peu de risque que ce soit réutilisable mais on ne sait jamais, autant le garder*/
/*Buzz d'un élément - vibration rapide, grande chance de réutilisation*/
/*Image qui s'agrandit au survol*/
.hover-image-grow-rotate img.image-grow-rotate {
  transition: all .5s ease;
}

.hover-image-grow-rotate .parent-image-grow-rotate {
  overflow: hidden;
}

.hover-image-grow-rotate:hover img.image-grow-rotate {
  transform: rotate(5deg) scale(1.3);
}

.hover-image-grow img.image-grow {
  transition: all 1.5s linear;
}

.hover-image-grow:hover img.image-grow {
  transform: scale(1.15);
}

.hover-image-grow .parent-image-grow {
  overflow: hidden;
}

.image-sepia > img {
  filter: sepia(50%);
  transition: all 1s;
}

.image-sepia:hover > img {
  filter: none;
}

.hover-image-brightness img.image-brightness {
  filter: brightness(40%);
  transition: all 1s;
}

.hover-image-brightness:hover img.image-brightness {
  filter: none;
}

.image-blur > img {
  filter: blur(1px);
}

.image-blur:hover > img {
  filter: none;
}

.hover-blur-greyscale img.image-blur-greyscale {
  filter: none;
  transition: all .75s;
}

.hover-blur-greyscale:hover img.image-blur-greyscale {
  filter: blur(2px) grayscale(80%);
}

.image-schrink {
  overflow: hidden;
}

.image-schrink > img {
  transition: all 1s;
  transform: scale(1.2);
}

.image-schrink:hover > img {
  transform: scale(1);
}
