@import 'frameworks/variables';
*{
  box-sizing: border-box;
}
/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Vidaloka', serif;
*/
//redefinitions generales
body{
  font-family: 'Source Sans Pro', sans-serif;
  color:$couleur2;
  font-size:15px;
  margin:0;
  h1,h1,h3,h4,h5,h6,{
    font-family: 'Raleway', sans-serif;
  }
  a{
    color:$couleur2;
    transition: all .3s ease-in;
    &:hover{
      color:$couleur1;
    }
  }
  .btn-fond-coul1{
    transition: all .3s ease-in;
  }
  input{
    padding:$paddingBoite;
    font-family: 'Source Sans Pro'
  }
}
//definitions des titres de section
.titre{
  font-size:$tailleGrand*1.7;
  text-transform: uppercase;
  text-align: center;
  margin:$tailleGrand*1.5 $paddingBoite;
  &::after{
    content:'';
    display:block;
    text-align:center;
    height:1px;
    width:25%;
    max-width:$tailleXGrand*4;
    margin:$paddingBoite auto;
    background: $couleur1;
  }
}
//definition des boutons
.btn{
  font-family: 'Raleway', sans-serif;
  padding:1.2rem 2.2rem;
  &.call-to-action{
    text-transform: uppercase;
  }
  &.btn-m{
    padding:$paddingBoite;
  }
}
//definitions des éléments qui apparaissent en décallé
.effet-apparition{
  position:relative;
  top:0;
  left:0;
  opacity: 0;
}
.apparition-top{
  top:-50px;
}
.apparition-left{
  left:-100px;
}
.apparition-right{
  left:100px;
}
.apparition-bottom{
  top:100px;
}
.apparition-scale{
}

//----------------------------------------UTILITAIRES---------------------------------------
#fonduNoir{
  position:fixed;
  top:0;
  left:0;
  z-index: 2;
  width:100%;
  height:100%;
  background: rgba(0,0,0,.7);
  display: none;
}
//permet de gérer les ancres
/*.ancre{
  height:81.19px;
}*/
//redefinitions des sections
.section{
  padding-top:$tailleGrand*1.5;
  padding-bottom:$tailleGrand*3;
}

.section-top{
  padding-top:$tailleGrand*1.5;
}

//redefinition des paginations
.pagination{
  font-family:'Raleway';
  text-transform: uppercase;
  >*{
    display:inline-block;
    padding:$paddingBtnY*.8 $paddingBtnX*.8;
    margin-right:$paddingBoite*.5;
    background: $couleur1;
    border:$bordsBtnSize $bordsBtnType $couleur1;
    color:#fff;
    &:hover:not(.current){
      background-color:transparent;
      color:$couleur1;
    }
    &.current{
      background-color:transparent;
      color:$couleur1;
    }
  }
}

//modèle général de cards
.cards{
  .btn-fond-coul1{
/*    &:not(.call-to-action){
      font-size: 14px;
      padding:$paddingBoite*0.7 $paddingBoite*0.5;
    }*/
    &.call-to-action{
      width:100%
    }
  }
  figure{
    overflow: hidden;
    img{
      object-fit: cover;
      width:100%;
      height:100%;
    }
  }
  .cards-texte{
    padding:1rem;
  }
}
//modèle particulier des cards, correspondant aux plus grandes
.cards-type-l{
  position:relative;
  overflow:hidden;
  &:hover{
    .cards-texte{
      bottom:$paddingBoite*2;
    }
  }
  .cards-texte{
    position:absolute;
    bottom:-50%;
    left:50%;
    transform: translateX(-50%);
    width:80%;
    background:rgba(255,255,255,0.8);
    transition: all .5s ease-out;
  }
}
//modele de carte articulier correspond aux tailles m
.cards-type-m{
  position:relative;
  box-shadow: 1px 1px 8px 0px rgba(150,150,150,0.5);
  border:1px solid rgba(0,0,0, 0.2);
  background:#fff;
  .cards-texte{
    >p:last-of-type{
      margin-bottom:72.6px;
    }
    a.call-to-action{
      position:absolute;
      bottom:15px;
      left:15px;
      width:calc(100% - 30px)
    }
/*    border-left:1px solid rgba(0,0,0, 0.2);
    border-right:1px solid rgba(0,0,0, 0.2);
    border-bottom:1px solid rgba(0,0,0, 0.2);*/
  }
}

.post-categories{
  padding:0;
  margin-top:0;
  text-align: center;
  letter-spacing: -0.25em;
  >li{
    letter-spacing: normal;
    display:inline-block;
    margin:$paddingBoite/6;
    a{
      display:inline-block;
      background-color:$couleur1;
      font-size: $taillePetit;
      padding:$paddingBtnY*.5 $paddingBtnX*.5;
      border:$bordsBtnSize $bordsBtnType $couleur1;
      color:#fff;
      &:hover{
        background-color:transparent;
        color:$couleur1;
      }
    }
  }
}
//----------------------------------------NAVIGATION ET LOGO---------------------------------------
#entetePrincipale{
  #barreNav{
    position:fixed;
    z-index:3;
    width:100%;
    background: rgba(255,255,255,0.95);
    .menu-horizontal{
        .sousMenu{
          position:absolute;
          top:100%;
          left:0;
          width:100%;
          display:none;
          text-align: center;
          color:$couleurNeutre;
          li{
            a{
              background-color:$couleur1;
              padding:$paddingBtnY $paddingBtnX;
              border-bottom:$bordsBtnSize $bordsBtnType $couleurNeutre;
              color:#fff;
              &:hover{
                background: rgba(255,255,255,0.95);
                color:$couleur1;
              }
            }
          }
        }
    }
    .hamburger{
      position: relative;
      #hamburgerIcon{
        position:absolute;
        top:50%;
        right:$paddingBoite;
        transform: translateY(-50%);
        z-index:3;
        color:$couleurNeutre;

        >div{
          position:relative;
          height:25px;
          width:35px;
          >div{
            position:absolute;
            width:35px;
            height:5px;
            background: $couleur1;
            &:first-of-type{
              top:0;
            }
            &:nth-of-type(2){
              top:10px;
            }
            &:nth-of-type(3){
              top:20px;
            }
          }
        }
      }
      #navMobile{
        position:fixed;
        top:0;
        left:0;
        z-index:2;
        width:100%;
        max-height:100%;
        margin:0;
        overflow-y: auto;
        a{
          display:block;
          border:none;
          border-bottom:$bordsBtnSize $bordsBtnType $couleurNeutre;
          &:hover{
            background-color: $couleurNeutre;
          }
        }
        >li >a{
          padding:2rem;
        }
        .sousMenu{
          a{
            font-size:$taillePetit;
            color:$couleur1;
            background: $couleurNeutre;
            border-bottom:$bordsBtnSize $bordsBtnType $couleur1;
            padding:1rem;
            &:hover{
              background:$couleur1;
              color:$couleurNeutre;
            }
          }
          li:last-of-type{
            a{
              border-bottom: none;
            }
          }
        }
      }
    }
    .boite-flottante-gauche{
      margin:0;
    }
  }
  #logo{
    position: relative;
    z-index: 1;
    width:150px;
    height:auto;
    padding:$paddingBoite 0 $paddingBoite*2 0;
  }
}
//----------------------------------------SLIDER---------------------------------------

#slider{
  position:relative;
  width:100%;
  overflow:hidden;
  figure{
    height:100vh;
  }
  &:hover{
    img{
      filter:brightness(0.4);
    }
  }
  >a{
    height:100%;
    display:block;
  }
  img{
    position:fixed;
    z-index:-1;
    object-position: 50% 50%;
    filter: brightness(0.6);
    transition:filter .75s ease, transform .75s ease;
  }
  #sliderContenu{
    position:absolute;
    top:calc(50% + 40px);
    left:50%;
    transform: translate(-50%, -50%);
    width:90%;
    color:$couleurNeutre;
    padding:$paddingBoite*2;
    .titre{
      margin-top:0;
    }
    .btn{
      margin-top:$paddingBoite;
      transition: all .3s ease-in;
    }
  }
}
//----------------------------------------SECTION PICTOGRAMMES--------------------------------------

#pictos{
  li{
    border:1px solid rgba(255,255,255, 0.2);
    padding:$paddingBoite*4;
  }
}

#coupDeCoeur{
  background-color: $couleurNeutre;
}

//----------------------------------------BANDEROLE TOUS LES JEUX (VOUS EN VOULEZ ENCORE)---------------------------------------

#TousLesJeux{
  color:$couleurNeutre;
  position:relative;
  background:url('../img/terraforming-mars.jpg') no-repeat center center;
  background-size: cover;
  .contenu-centre{
    position:relative;
    z-index:2;
  }
  &::after{
    content:'';
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    display:block;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    transition:all .75s ease;
  }
  &:hover{
    &::after{
      background: rgba(0,0,0,0.3);
    }
  }
}
//----------------------------------------CONTACT---------------------------------------

#contact{
  iframe{
    display:block;
    min-height:300px;
  }
  >div{
    /*background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url('../img/bg-contact-2.jpg') no-repeat center center;*/
    background-size: cover;
    display:flex;
    flex-wrap:wrap;
    padding:$paddingBoite*4 0;
    >*{
      margin: auto 0;
      position:relative;
      z-index:2;
      /*@media screen and (max-width:1100px){
        margin:auto;
      }*/
    }
    >div:not(.formulaireDeContact){
      flex-basis:calc(100% - 500px - #{$gouttiereGrille*4});
      border:35px solid $couleur2;
      margin-right:$gouttiereGrille*2;
      box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);
      border-radius: 5px;
      @media screen and (max-width:1100px){
        flex-basis: calc(100%);
        margin:0;
      }
    }
    .formulaireDeContact{
      flex-basis:500px;
      position:relative;
      margin:39.4px 0 0 $gouttiereGrille*2;
      @media screen and (max-width:1100px){
        flex-basis: calc(100%);
        margin:$paddingBoite*8 0 0 0;
      }
      h3{
        padding:$paddingBoite*3;
        background:$couleur1;
        color:$couleurNeutre;
        width:85%;
        position:absolute;
        top:0;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        box-shadow: 1px 1px 8px 0px rgba(0,0,0,0.5);
        border-radius: 5px;
      }
      #caldera_form_1{
        background: $couleurNeutre;
        padding:$paddingBoite*6 $paddingBoite*3 $paddingBoite*3;
        box-shadow: 1px 1px 8px 0px rgba(150,150,150,0.5);
        border-radius: 5px;
        .form_element{
          input, textarea{
            border:none;
            border-bottom:1px solid rgba(0,0,0, 0.2);
          }
          textarea{
            padding:.6rem;
            resize:none;
          }
        }
      }
    }
  }
}
//----------------------------------------FOOTER DES PAGES---------------------------------------

#footerPrincipal{
  a{
    &:not(:hover){
      color:$couleurNeutre;
    }
  }
  >div{
    &:last-of-type{
      a{
        &:not(:hover){
          color:$couleurNeutreFoncee;
        }
      }
    }
  }
}


//----------------------------------------PAGE SINGLE DETAILS D'UN JEU---------------------------------------
#detailsJeu{
  background-color: $couleurNeutre;
  >div{
    >*:not(.titre){
      margin-bottom: $tailleGrand;
    }
    >figure{
      img{
        box-shadow: 1px 1px 8px 0px rgba(150,150,150,0.5);
      }
    }
    .texteJeu{
      padding:$tailleGrand 0;
    }
  }
}
//gestion des posts précédents et suivants sur la page single
.nextPreviousNav{
  li{
    &:hover{
      img{
        filter:none;
      }
    }
    img{
      filter:brightness(.7);
      transition: all 1s ease;
    }
    div{
      &.btn-fond-coul1{
        display:flex;
        width:100%;
        /*height:100%; A REMETTRE SI CA MARCHE PLUS*/
        padding:$paddingBtnY*.5 $paddingBtnX*.5;
      }
      div{
        margin:auto $gouttiereGrille;
        &.faIcon{
          flex-basis:32px;
        }
        &:not(.faIcon){
          flex-basis:calc(100% - 32px);
        }
      }
    }
  }
}
