/*
./scss/modules/_animations.scss
version 1.0
*/
/*décollage d'un élément, peu de risque que ce soit réutilisable mais on ne sait jamais, autant le garder*/
@mixin decollageAnim{
  @keyframes decollage{
    0%{
      left:0px;
      top:0px;
    }
    1%{
      left:-5px;
      top:5px;
    }
    2%{
      left:5px;
      top:-5px;
    }
    3%{
      left:-5px;
      top:5px;
    }
    4%{
      left:5px;
      top:-5px;
    }
    5%{
      left:-5px;
      top:5px;
    }
    10%{
      opacity:1;
    }
    20%{
      left:160px;
      top:-160px;
      opacity:0;
    }
    100%{
      left:200px;
      top:-200px;
      opacity:0;
    }
  }
}
/*Buzz d'un élément - vibration rapide, grande chance de réutilisation*/
@mixin buzzAnim{
  @keyframes buzz{
    0%{
      left:0px;
    }
    25%{
      left:-5px;
    }
    50%{
      left:0px;
    }
    75%{
      left:5px;
    }
    100%{
      left:0px;
    }
  }
}
/*Image qui s'agrandit au survol*/
.hover-image-grow-rotate{
  img.image-grow-rotate{
    transition: all .5s ease;
  }
  .parent-image-grow-rotate{
    overflow:hidden;
  }
  &:hover{
    img.image-grow-rotate{
      transform: rotate(5deg) scale(1.3);
    }
  }
}
.hover-image-grow{
  img.image-grow{
    transition: all 1.5s linear;
  }
  &:hover{
    img.image-grow{
      transform: scale(1.15);
    }
  }
  .parent-image-grow{
    overflow:hidden;
  }
}
.image-sepia{
  >img{
    filter:sepia(50%);
    transition: all 1s;
  }
  &:hover{
    >img{
      filter:none;
    }
  }
}
.hover-image-brightness{
  img.image-brightness{
    filter:brightness(40%);
    transition: all 1s;
  }
  &:hover{
    img.image-brightness{
      filter:none;
    }
  }
}
.image-blur{
  >img{
    filter:blur(1px);
  }
  &:hover{
    >img{
      filter:none;
    }
  }
}
.hover-blur-greyscale{
  img.image-blur-greyscale{
    filter:none;
    transition: all .75s;
  }
  &:hover{
    img.image-blur-greyscale{
      filter:blur(2px) grayscale(80%);
    }
  }
}
.image-schrink{
  overflow:hidden;
  >img{
    transition: all 1s;
    transform: scale(1.2);
  }
  &:hover{
    >img{
      transform: scale(1);
    }
  }
}
