/*
./scss/modules/_boites.scss
version 1.0
*/

/*boite fond couleur */
.boite-fond-coul1 {
  background-color:$couleur1;
  padding:$paddingBoite;
  color:#fff;
}
.boite-fond-coul2 {
  background-color: $couleur2;
  padding:$paddingBoite;
  color:#fff;
}
.boite-fond-coul2-claire {
  background-color: $couleur2Claire;
  padding:$paddingBoite;
  color:$couleur2;
}
.boite-fond-coul2-foncee {
  background-color: $couleur2Foncee;
  padding:$paddingBoite;
  color:#fff;
}
.boite-fond-coulNeutre {
  background-color: $couleurNeutre;
  padding:$paddingBoite;
  color:$couleur2;
}
/* boite avec bord couleur1*/
.boite-bords-coul1 {
  padding: $paddingBoite;
  border: $couleur1 $tailleBordsBoite solid;
}
.boite-bords-coulNeutreFoncee {
  padding: $paddingBoite;
  border: $couleurNeutreFoncee $tailleBordsBoite solid;
}
/*boite avec des bords*/
.boite-bords-ronds{
  border-radius: $arrondisBords;
}
.boite-bords-droite-coul1{
  padding-right:$paddingBoite;
  border-right: 1px solid $couleur1;
}
/*boite-soulignée*/
.boite-soulignee{
  padding: 0 0 $paddingBoite;
  border-bottom: $couleurBordsBoite $tailleBordsBoite solid;
}

/*boite responsive dimension fixe 960px et centrée*/
.boite-fixe {
  width:calc(100% - 1rem);
  max-width:$largeurBoiteFixe;
  margin:auto;
}
/*boite sans marge*/
.boite-marge-nulle {
  margin:0;
}
.boite-marge-nulle-top{
  margin-top:0;
}
/*boites flottantes*/
.boite-flottante-gauche {
  float:left;
  margin:0 $paddingBoite $paddingBoite 0 ;
}
.boite-flottante-droite {
  float:right;
  margin:0 0 $paddingBoite $paddingBoite;
}
.boite-clearfix:after {
  content:'';
  display:block;
  clear:both;
}
/*Tailles de boites*/
.taille-conteneur{
  width:100%;
}
/*types de boites*/
.boite-inline-block{
  display:inline-block;
}
/*BOUTONS*/
.btn-fond-coul1{
  display:inline-block;
  background-color:$couleur1;
  padding:$paddingBtnY $paddingBtnX;
  border:$bordsBtnSize $bordsBtnType $couleur1;
  color:#fff;
  &:hover{
    background-color:transparent;
    color:$couleur1;
  }
}

/*HAUTEURS */
.height-m{
  height:$imageCoverM;
}

.height-s{
  height:$imageCoverS;
}

.height-l{
  height:$imageCoverL;
}

.height-xl{
  height:$imageCoverXl;
}
