/*
./scss/modules/_contenus.scss
version 1.0
*/

/*Blocks inline*/
.contenu-inline > * {
  display:inline-block;
}
/*alignement contenu*/
.contenu-centre {
  text-align:center;
}
.contenu-gauche {
  text-align:left;
}
.contenu-droite {
  text-align:right;
}
.contenu-justifie {
  text-align:justify;
}
/*taille contenu*/
.contenu-normal {
  font-size: $tailleNormal;
}
.contenu-petit {
  font-size: $taillePetit;
}
.contenu-grand {
  font-size:$tailleGrand;
}
.contenu-XGrand{
  font-size:$tailleXGrand;
}
.contenu-XXGrand{
  font-size:$tailleXXGrand;
}
/*formatage contenus*/
.contenu-majuscule{
  text-transform: uppercase;
}
/*graisse des contenus*/
.contenu-graisse-gras {
  font-weight:bold;
}
.contenu-graisse-normal {
  font-weight: normal;
}
/*présence visuel des éléments*/
.contenu-cache{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.visibilityhidden{
  visibility:hidden;
}
