/*
./scss/modules/_formulaires.scss
version 1.0
*/
/*formulaire dans les couleurs du thème*/
.formulaire{
  input{
    padding:$paddingBoite ($paddingBoite*1.15);
    border:0;
    border-radius: $arrondisBords;
    &::placeholder{
      color:$couleur2;
    }
    &[type='submit']{
      background:$couleur2;
      color:#fff;
      &:hover{
        background:$couleurNeutre;
        color:$couleur2;
      }
    }
    &:not([type='submit']){
      background:$couleurNeutre;
    }
  }
}
