/*
./scss/modules/_boites.scss
version 1.0
*/

/*modules de grilles*/
* {
  box-sizing: border-box;
}

.grille-g {
  display:flex;
  flex-wrap: wrap;
  margin:0 (-$gouttiereGrille);
}

.grille-g > * {
  margin:$gouttiereGrille;
  flex-basis:calc(100% - (2*#{$gouttiereGrille})); //variable dans fonction ecrire #{variable}
}

@each $i in $typeEcran {
  @media only screen and (min-width:#{nth($i,1)}){
    @for $x from 1 through $nbreColonnesGrille {
      .#{nth($i,2)}#{$x} {
        flex-basis: calc(100%*(#{$x}/#{$nbreColonnesGrille}) - (2*#{$gouttiereGrille}));
      }
    }
  }
}
.grille-no-g {
  display:flex;
  flex-wrap: wrap;
  margin:0;
}

.grille-no-g > * {
  flex-basis:100%; //variable dans fonction ecrire #{variable}
}

.grille-no-g{
  @each $i in $typeEcran {
    @media only screen and (min-width:#{nth($i,1)}){
      @for $x from 1 through $nbreColonnesGrille {
        .#{nth($i,2)}#{$x} {
          flex-basis: calc(100%*(#{$x}/#{$nbreColonnesGrille}));
        }
      }
    }
  }
}
