/*
./scss/modules/_images.scss
modules des images
*/

//image responsive 100% conteneur (à placer sur un conteneur)
.image-responsive{
  img{
    width:100%;
    height:auto;
  }
}

//image responsive 100% conteneur au max (à placer sur un conteneur)
.image-responsive-max{
  img{
    max-width:100%;
    height:auto;
  }
}

//image qui couvre son conteneur(comme background:cover mais présent dans le DOM)
.image-cover{
  overflow: hidden;
  img{
    object-fit: cover;
    width:100%;
    height:100%;
  }
}


//fin de image cover
