/*
./scss/modules/_menus.scss
version 1.0
modules des menus
*/

/*menu horizontal*/
.menu-horizontal {
  > ul{
    letter-spacing: -.25em;
    > li {
      display:inline-block;
      letter-spacing: normal;
    }
  }
}
.menu-horizontal ul {
  list-style: none;
  margin:0;
  padding:0;
}
.menu-horizontal a {
  background:$menuCouleurOff;
  padding:$menuPaddingY $menuPaddingX;
  color:$menuTexteOff;
  text-decoration: none;
  display:block;
}
.menu-horizontal a:hover, .menu-horizontal li.actif a, .menu-horizontal a.actif {
  background-color:$menuCouleurOn;
  color:$menuTexteOn;
}

/*pagination*/
.menu-pagination {
  justify-content: $paginationAlignement;
  list-style:none;
  padding:0;
  display:flex;
  a {
    display:block;
    border-top:$paginationCouleurBordsOff 1px solid;
    border-bottom:$paginationCouleurBordsOff 1px solid;
    border-right:$paginationCouleurBordsOff 1px solid;
    width:$paginationDimension;
    line-height:$paginationDimension;
    text-align:center;
    background:$paginationCouleurOff;
    color:$paginationTexteOff;
  }
  li:first-child a {
    border-left:$paginationCouleurBordsOff 1px solid;
  }
  li.actif a,
  li:first-child.actif a,
  li:first-child a:hover,
  a:hover {
    color:$paginationTexteOn;
    background:$paginationCouleurOn;
    border-color:$paginationCouleurBordsOn;
  }
}
