/*
./scss/modules/_applications.scss
version 1.0
*/

/*Un slider automatique*/
.slider{
  ul{
    list-style: none;
    padding:0;
    margin:0;
    li{
      img{
        width:100%;
        display:block;
      }
    }
  }
}
/*Slider avec superposition d'image*/
.slidersuperposition{
  ul{
    position:relative;
    li:first-of-type{
      position:relative;
    }
    li:not(:first-of-type){
      position:absolute;
      top:0;
      left:0;
    }
    li{
      width:100%;
/*      &:first-of-type{
        z-index:1;
      }
      &:nth-of-type(2){
        z-index:2;
      }
      &:nth-of-type(3){
        z-index:3;
      }*/
    }
  }
}
