/*
./scss/modules/_visibilites.scss
modules des visibilités
*/

@each $i in $typeEcran {
  @media only screen and (min-width:#{nth($i,1)}){
      .#{nth($i,2)}-cache {
        display:none;
      }
    }
  }

  @each $i in $typeEcran {
    .#{nth($i,2)}-visible {
      display:none;
    }
    @media only screen and (min-width:#{nth($i,1)}){
        .#{nth($i,2)}-visible {
          display:block;
        }
      }
    }
