/*
./scss/_variables.scss
variables du frameworks
*/
/*couleurs*/
/*$couleur1: #ff2255;*/
/*$couleur1:#499db4;*/
$couleur1:#73B2CF;
$couleur1Claire: lighten($couleur1, 10%);
$couleur1Foncee: darken($couleur1, 10%);

$couleur2:#292929;
$couleur2Claire: lighten($couleur2, 80%);
$couleur2Foncee: darken($couleur2,10%);
$couleur2Proche:lighten($couleur2, 20%);

$couleurNeutre:#ffffff;
$couleurNeutreClaire: lighten($couleurNeutre, 30%);
$couleurNeutreFoncee: darken($couleurNeutre, 30%);

$couleur3:#9bb7bb;

/*dimensions*/
$largeurBoiteFixe:1280px;

$tailleXXGrand:4rem;
$tailleXGrand:2.5rem;
$tailleGrand:1.2rem;
$tailleNormal:1rem;
$taillePetit:.83rem;
/* MENUS*/
  /*menu-horizontal*/
$menuPaddingY:2.2rem;
$menuPaddingX:$menuPaddingY/2;
$menuCouleurOff:transparent;
$menuTexteOff:$couleur2;
$menuCouleurOn:transparent;
$menuTexteOn:$couleur1;
  /*pagination*/
$paginationAlignement:center;
$paginationDimension:2rem;
$paginationCouleurOff:#fff;
$paginationTexteOff:$couleurNeutre;
$paginationCouleurBordsOff:$couleurNeutre;
$paginationCouleurOn:$couleur1;
$paginationTexteOn:#fff;
$paginationCouleurBordsOn:$couleur1;

/*IMAGES*/
$imageCoverS:200px;
$imageCoverM:300px;
$imageCoverL:400px;
$imageCoverXl:800px;

/*BOITES*/
$paddingBoite:0.6rem;
$tailleBordsBoite:1px;
$couleurBordsBoite:$couleurNeutreFoncee;

$arrondisBords:.2rem;

$paddingBtnY:$paddingBoite*1.5;
$paddingBtnX:$paddingBoite*3;
$bordsBtnSize:1px;
$bordsBtnType:solid;
/*GRILLES*/
$gouttiereGrille:10px;
$nbreColonnesGrille:12;
$typeEcran: ("0px" "xs") ("480px" "s") ("768px" "m") ("1025px" "l") ("1215px" "xl") ;
/*$typeEcran: ("0px" "s") ("500px" "m") ("765px" "l") ("1215px" "xl");*/
